<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Update System Status and Message</h3>
        <%= simple_form_for @status_history do |f| %>
          <%= f.input :status, as: :select, collection: %w(UP DOWN), placeholder: 'Select one status' %>
          <%= f.input :message, placeholder: 'Define a system message' %>
          <%= f.button :submit, 'update system', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
